---
import Main from '../../components/molecules/Main.astro'
import ArticleContent from '../../components/organisms/ArticleContent.astro'
import Layout from '../../layouts/Layout.astro'
import { fetchArticleEntries } from '../../infra/contentful/article'
import type { GetStaticPaths } from 'astro'
import type { ArticleEntry } from '../../infra/contentful/interfaces'
import { routes } from '../../constants/routes'

export type Props = {
  entry: ArticleEntry
}

export const getStaticPaths: GetStaticPaths = async () => {
  const articleEntries = await fetchArticleEntries()

  return articleEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry } satisfies Props
  }))
}

const { entry } = Astro.props
---

<Layout title={entry.title} socialImageURL={entry.ogpImageUrl}>
  <Main backTo={routes.article.index}>
    <ArticleContent entry={entry} />
  </Main>
</Layout>
