---
import { CollectionEntry, getCollection } from 'astro:content'
import Main from '../../components/molecules/Main.astro'
import { routes } from '../../constants/routes'
import Layout from '../../layouts/Layout.astro'
import { formatDate } from '../../utils/date'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

export type Props = {
  entry: CollectionEntry<'blog'>
}

const { entry } = Astro.props
const { Content } = await entry.render()
const { title, postedAt, tags } = entry.data
---

<Layout title={title}>
  <Main>
    <header>
      <h1 class="text-3xl font-bold">
        <a href={routes.article.slug(entry.slug)}>{title}</a>
      </h1>
    </header>

    <p>{formatDate(postedAt)}</p>
    {tags && <p>tags: {tags?.join(', ')}</p>}
  </Main>

  <article class="post-content py-2 my-2 border-y-2">
    <Content />
  </article>
</Layout>

<style is:global lang="scss">
  .post-content {
    ul,
    ol {
      @apply mr-0 pr-0;
    }

    ul ol,
    ol ul,
    ul ul {
      margin: 0;
    }

    iframe {
      max-width: 100%;
      height: 100%;
      aspect-ratio: 16 / 9;
    }
  }
</style>
