---
import { CollectionEntry, getCollection } from 'astro:content'
import Main from '../../components/molecules/Main.astro'
import Layout from '../../layouts/Layout.astro'
import { formatDate } from '../../utils/date'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

export type Props = {
  entry: CollectionEntry<'blog'>
}

const { entry } = Astro.props
const { Content } = await entry.render()
const { title, postedAt, tags } = entry.data
---

<Layout title={title}>
  <Main>
    <header>
      <h1 class="text-3xl font-bold">{title ?? '?'}</h1>
      <p>{formatDate(postedAt)}</p>
      {tags && <p>tags: {tags?.join(', ')}</p>}
    </header>

    <article class="post-content py-2 my-2 border-y-2">
      <Content />
    </article>
  </Main>
</Layout>

<style is:global lang="scss">
  .post-content {
    ul ol,
    ol ul,
    ul ul {
      margin: 0;
    }
  }
</style>
