---
import Layout from '../../layouts/Layout.astro'
import ArticleList from '../../components/organisms/ArticleList.astro'
import Main from '../../components/molecules/Main.astro'

const title = 'Article'
---

<Layout title={title}>
  <Main>
    <h1>{title}</h1>
    <section>
      <ArticleList first={20} skip={0} />
    </section>
  </Main>
</Layout>
