---
import Main from '../../components/molecules/Main.astro'
import { PreviewContent } from '../../features/PreviewContent'
import Layout from '../../layouts/Layout.astro'
import '../../styles/global.css'
---

<Layout title="preview" overrideSEOProps={{ noindex: true, nofollow: true }}>
  <Main>
    <div class="preview-note">In Preview Mode</div>

    <PreviewContent client:load />
  </Main>
</Layout>

<style>
  @reference '../../styles/global.css';

  .preview-note {
    @apply border-2 mb-4 p-4 border-green-600 text-greenish;
  }
</style>
