{
  "extends": ["plugin:astro/recommended", "standard-with-typescript"],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": ["tsconfig.json"],
    "extraFileExtensions": [".astro", ".tsx", ".ts"]
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "space-before-function-paren": "off",
    "import/no-absolute-path": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/space-before-function-paren": "off",
    "@typescript-eslint/triple-slash-reference": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/consistent-type-definitions": "off",
    "multiline-ternary": "off"
  },
  "overrides": [
    {
      "env": {
        "browser": true,
        "es2021": true,
        "node": true
      },
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "extraFileExtensions": [".astro"]
      }
    },
    {
      "files": ["./functions/**/*"],
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "project": ["./functions/tsconfig.json"]
      }
    }
  ]
}
