---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import Layout from "../../layouts/Layout.astro";
import type { OmitTinaSysProps } from "../../types";
import type { Blog } from "../../../.tina/__generated__/types";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const formatDate = (str: string )=> dayjs(str).format('YYYY-MM-DD HH:mm')

const { entry: {render} } = Astro.props;
const { Content } = await render();
const entryData = Astro.props.entry.data as OmitTinaSysProps<Blog>
const { title, postedAt, tags } = entryData
---

<Layout title={title}>
  <header>
    <h1 class="text-3xl font-bold">{title ?? "?"}</h1>
    <p>{formatDate(postedAt)}</p>
    {tags && <p>tags: {tags?.join(', ')}</p>}
  </header>

  <main class="post-content py-2 my-2 border-y-2">
    <Content />
  </main>
</Layout>
