@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, sans-serif;
  font-size: 16px;
}

@layer base {
  * {
    @apply text-greenish;
  }

  h1 {
    @apply text-greenish-dark text-3xl font-bold uppercase;
    font-family: 'Lora', serif;
  }

  h1 > a {
    @apply no-underline hover:underline;
  }

  h2 {
    @apply font-bold text-xl mb-3 mt-12 text-greenish-dark;
  }

  h3 {
    @apply font-bold text-lg mb-3 mt-12 text-greenish-dark;
  }

  p {
    @apply my-5 leading-loose text-greenish font-normal;
  }

  a {
    @apply underline hover:no-underline text-greenish-dark font-normal;
  }

  ul {
    @apply my-5 px-5;
    @apply list-disc;
  }

  ol {
    @apply my-5 px-8;
    @apply list-decimal;
  }

  li {
    @apply leading-loose;
  }

  dt {
    @apply font-bold;
  }

  article img {
    @apply inline rounded md:max-w-lg sm:max-w-md max-w-xs my-4;
  }

  table {
    @apply border-slate-200 border-2;
  }

  th {
    @apply bg-slate-100 border-slate-200 border-y-2 py-2 px-5 font-semibold;
  }

  td {
    @apply border-slate-200 border-y-2 py-2 px-5 font-normal;
  }

  p > code {
    @apply px-2 text-greenish-dark bg-slate-100 rounded-md after:content-['`'] before:content-['`'];
  }

  blockquote > p {
    @apply rounded bg-slate-100 p-6 italic;
  }
}

@layer components {
  section[class='footnotes'] > h2 {
    @apply relative w-fit mt-20 pb-10 text-greenish-dark;
  }

  section[class='footnotes'] > ol {
    @apply pb-1;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    @apply text-sm !important;
  }
}
