---
import Layout from '../layouts/Layout.astro'
import ArticleList from '../features/ArticleList.astro'
import Main from '../components/molecules/Main.astro'
import { routes } from '../constants/routes'
import { fetchArticlesFirstPage } from '../infra/contentful/article'
import '../styles/global.css'

const firstPage = await fetchArticlesFirstPage()
---

<Layout isTop>
  <Main isTop>
    <h1>Article</h1>
    <ArticleList entries={firstPage.data} fullwidth />
    <p>
      <a href={routes.article.page(2)}>&gt; View all articles</a>
    </p>
  </Main>
</Layout>
