---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
import { PreactCompTest } from "../components/PreactCompTest";

const blogEntries = await getCollection("blog");
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto pt-4">
		<h1 class="text-3xl font-bold">Welcome to my site!</h1>

		<PreactCompTest client:load>
			This is clickable text
		</PreactCompTest>

		<section class="card-list grid grid-cols-1 gap-4 mt-6">
			<h2 class="text-2xl font-bold border-b-4">Blog posts</h2>
      {
        blogEntries.map((e) => (
          <Card body="" title={e.data.title} href={`/blog/${e.slug}`} />
        ))
      }
    </section>
  </main>
</Layout>

<style>
</style>
