---
import Layout from '../../../layouts/Layout.astro'
import Main from '../../../components/molecules/Main.astro'
import { routes } from '../../../constants/routes'
import { cleanPathParam } from '../../../utils/cleanPathParam'
import { fetchArticleTags } from '../../../infra/contentful/article'
import '../../../styles/global.css'

const allTags = await fetchArticleTags()

const title = 'Tag: All'
---

<Layout title={title} noPagefindIndex>
  <Main backTo={routes.article.index}>
    <h1>{title}</h1>
    <ul>
      {
        allTags.map((tag) => (
          <li>
            <a href={routes.article.tag.page(cleanPathParam(tag), 1)}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </Main>
</Layout>
