---
---

<footer class="md:px-80 py-20" aria-label="Global">
  <div class="lg:flex lg:gap-x-12">
    <a href="/" class:list={['text-sm', 'font-semibold', 'leading-6', 'text-gray-900']}>Top</a>
    <a href="/blog" class:list={['text-sm', 'font-semibold', 'leading-6', 'text-gray-900']}
      >Article</a
    >
    <a href="/about" class:list={['text-sm', 'font-semibold', 'leading-6', 'text-gray-900']}
      >About</a
    >
  </div>
</footer>

<style>
  footer {
    background-color: rgb(251, 243, 178, 0.8);
  }
</style>
