---
import search from '/assets/icons/glass.svg'
---

<nav class="search">
  <a href="#">
    <img src={search} width="40" alt="march-am" />
  </a>
</nav>

<style>
  .search {
    @apply absolute;
    top: theme(spacing.4);
    right: 8px;
  }

  @media screen(lg) {
  }
</style>
