---
import search from '/assets/icons/glass.svg'
---

<nav class="search">
  <a href="#">
    <img src={search} width="40" alt="march-am" />
  </a>
</nav>

<style>
  .search {
    @apply fixed;
    top: theme(spacing.3);
    right: 5px;
  }

  @media screen(lg) {
    .search {
      top: theme(spacing.4);
      right: 11px;
    }
  }
</style>
