---
---

<footer>
  <ul class="links">
    <li>
      <a href="/" class:list={['text-sm', 'font-semibold', 'leading-6', 'text-gray-900']}>Top</a>
    </li>
    <li>
      <a href="/article" class:list={['text-sm', 'font-semibold', 'leading-6', 'text-gray-900']}
        >Article</a
      >
      <li>
        <a href="/about" class:list={['text-sm', 'font-semibold', 'leading-6', 'text-gray-900']}
          >About</a
        >
      </li>
    </li>
  </ul>

  <style>
    footer {
      background-color: rgb(251, 243, 178, 0.7);
    }

    .links {
      @apply p-10;
      background-color: rgb(120, 145, 120, 0.06);
      margin: 0 50px 0 40px;
    }

    .links li {
      @apply list-none leading-10;
    }

    .links a {
      @apply text-xl italic uppercase no-underline;
      font-family: 'Lora', serif;
    }

    @media screen(lg) {
      .links {
        @apply p-20;
        margin-left: 300px;
        margin-right: 250px;
      }
    }
  </style>
</footer>
