---
import search from '../../assets/images/icons/glass.svg'
import { Image } from 'astro:assets'
---

<nav class="search">
  <a href="#">
    <Image src={search} width="40" alt="march-am" />
  </a>
</nav>

<style>
  @reference '../../styles/global.css';

  .search {
    @apply fixed;
    top: theme(spacing.3);
    right: 5px;
  }

  @media (min-width: 1024px) {
    .search {
      top: theme(spacing.4);
      right: 11px;
    }
  }
</style>
