---
import { formatDate } from '../../utils/date'

export interface Props {
  title: string
  href: string
  date: Date
}

const { href, title, date } = Astro.props
---

<li class="py-2 list-none">
  <a href={href} class="no-underline hover:underline">
    <div class="font-bold mb-1">{title}</div>
    <div class="text-sm text-slate-500">
      posted at <time>{formatDate(date)}</time>
    </div>
  </a>
</li>
