---
import { routes } from '../../constants/routes'
import logo from '/assets/logo.svg'
---

<nav class="logo">
  <a href={routes.index}>
    <img src={logo} width="80" alt="march-am logo" />
  </a>
</nav>

<style>
  .logo {
    @apply fixed;
    top: theme(spacing.4);
    left: -10px;
    z-index: -1;
  }

  .logo img {
    width: 55px;
  }

  @media screen(lg) {
    .logo {
      width: 80px;
      top: theme(spacing.16);
      left: theme(spacing.48);
    }

    .logo img {
      width: 80px;
    }
  }
</style>
