---
import { routes } from '../../constants/routes'
import logo from '../../assets/images/logo.svg'
import { Image } from 'astro:assets'
---

<nav class="logo" data-pagefind-ignore>
  <a href={routes.index}>
    <Image src={logo} width="80" alt="march-am logo" />
  </a>
</nav>

<style>
  @reference '../../styles/global.css';

  .logo {
    @apply absolute;
    top: theme(spacing.4);
    left: -10px;
    z-index: -1;
  }

  .logo img {
    width: 55px;
  }

  @media (min-width: 1024px) {
    .logo {
      width: 80px;
      top: theme(spacing.16);
      left: theme(spacing.48);
    }

    .logo img {
      width: 80px;
    }
  }
</style>
