---
export type Props = {
  backTo?: string
}
const { backTo } = Astro.props
---

<main>
  <slot />
</main>
{
  backTo && (
    <a href={backTo} class="back-to">
      ←
    </a>
  )
}

<style>
  main::after {
    @apply block mx-auto my-20;
    content: '';
    width: 80px;
    height: 80px;
    background: no-repeat 0 / 80px url(/assets/images/bird_s.png);
  }

  main {
    @apply pl-3 pr-0 pt-8;
  }

  .back-to {
    @apply text-4xl no-underline hover:underline mt-4;
  }

  @media screen(lg) {
    main {
      @apply mx-auto px-0 pt-2;
      max-width: 660px;
    }
  }
</style>
