---
import { routes } from '../../constants/routes'

export type Props = {
  isTop?: boolean
  backTo?: string
}
const { backTo, isTop = false } = Astro.props
---

{
  !isTop && (
    <nav class="py-6">
      <a href={routes.index} class="back-to-top">
        ← back to top
      </a>
    </nav>
  )
}

<main>
  <slot />
</main>
{
  backTo && (
    <nav>
      <a href={backTo} class="back-to">
        ←
      </a>
    </nav>
  )
}

<style>
  main::after {
    @apply block mx-auto my-20;
    content: '';
    width: 80px;
    height: 80px;
    background: no-repeat 0 / 80px url(/assets/images/bird_s.png);
  }

  main {
    @apply pr-0;
  }

  .back-to-top {
    @apply text-greenish no-underline hover:underline italic;
    font-family: 'Lora', serif;
  }

  .back-to {
    @apply text-4xl no-underline hover:underline mt-4;
  }

  @media screen(lg) {
    main {
      @apply mx-auto px-0 pt-2;
      max-width: 660px;
    }
  }
</style>
