---
import Layout from '../../../layouts/Layout.astro'
import Main from '../../../components/molecules/Main.astro'
import { routes } from '../../../constants/routes'
import { cleanPathParam } from '../../../utils/cleanPathParam'
import { fetchArticleCategories } from '../../../infra/contentful/article'
import '../../../styles/global.css'

const categories = await fetchArticleCategories()

const title = 'Category: All'
---

<Layout title={title} noPagefindIndex>
  <Main backTo={routes.article.index}>
    <h1>{title}</h1>
    <ul>
      {
        categories.map((category) => (
          <li>
            <a href={routes.article.category.page(cleanPathParam(category), 1)}>{category}</a>
          </li>
        ))
      }
    </ul>
  </Main>
</Layout>
