---
export interface Props {
  metadata?: {
    title?: string | null;
    author?: string | null;
    description?: string | null;
  } | undefined;
}

const { metadata } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{metadata?.title ?? "?"}</title>
  </head>
  <body>
  <div class="container mx-auto pt-4">
    <header>
      <h1 class="text-3xl font-bold">{metadata?.title ?? "?"}</h1>
      <h2 class="text-2xl font-bold border-b-4 mt-2">Post author: {metadata?.author ?? "?"}</h2>
      <p>{metadata?.description ?? "?"}</p>
    </header>
    <slot />
		</div>
  </body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
</style>
