---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Logo from '../components/Logo.astro'
import Footer from '../components/Footer.astro'

export interface Props {
  title: string
  frontmatter?: any
}

const { title, frontmatter } = Astro.props
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? frontmatter?.title}</title>
  </head>
  <body>
    <Logo />
    <Header />
    <div class="content">
      <!-- <div class="md:container md:mx-auto md:w-4/6 px-5 my-10"> -->
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  body {
    background: repeat-y 0 / 80px url(/assets/images/back_gr.jpg),
      repeat-y right 0% / 60px url(/assets/images/back_or.jpg);
  }

  .content {
    @apply pl-2;
    background: rgb(255, 255, 255, 0.75);
    margin: 0 60px;
  }

  @media screen(md) {
    body {
      background: repeat-y 0 / 300px url(/assets/images/back_gr.jpg),
        repeat-y right 0 url(/assets/images/back_or.jpg);
    }

    .content {
      @apply container pl-80;
    }
  }
</style>
